nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
    display: block;
    margin-left: 180px;
    margin-right: auto;
}

.nav-right {
    display: flex;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: 180px;
}

.header {
    text-decoration-line: none;
    margin-right: 20px;
    color: inherit;
    font-size: 23px;
}

.header:last-child {
    margin-right: 0;
}

.header:hover {
    cursor: pointer;
    color: blue;
}

.search-bar {
    border: none;
    border-radius: 8px;
    outline: none;
    width: 250px;
    height: 30px;
    background-color: rgba(127, 255, 212, 0.32);
    opacity: 0.8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}